.module6 table.equations {
    width: 99%;
}
.module6 table.equations td.equation {
    text-align: center;
}
.module6 table.equations td.equation_number {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}